{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Сервис рассылок</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <h5 class="navbar-brand">Сервис рассылок</h5>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'main:mailings' %}">Рассылки</a>
                </li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'main:mailing_messages' %}">Сообщения</a>
                </li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'clients:clients_list' %}">Клиенты</a></li>


            </ul>

            <ul class="list-group list-group-horizontal text-right list-inline navbar-nav mb-2 mb-lg-0 ms-lg-4">
                <li class="list-group-item list-group-item-light">
                    {% if user.first_name %}
                    <strong>{{user.first_name}} {{user.last_name}}</strong>
                    {% else %}
                    <strong>Имя не указано</strong>
                    {% endif %}

                    {% if user.is_verified == True %}
                    <strong> - верифицирован</strong>
                    {% else %}
                    <strong> - не верифицирован</strong>
                    {% endif %}
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link active" href="{% url 'users:profile' %}">Профиль</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'users:logout' %}">Выйти</a></li>
                {% else %}

                <li class="nav-item"><a class="nav-link active" href="{% url 'users:register' %}">Регистрация</a></li>
                <li class="nav-item"><a class="nav-link active" href="{% url 'users:login' %}">Войти</a></li>


                {% endif %}
            </ul>
        </div>

    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{% block title %}{% endblock %}</h1>
        </div>
    </div>
</header>

<!-- Section-->

{% block content %}
{% endblock %}


<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Гранкин З. Р. &copy; 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>