{% extends 'main/base.html' %}
{% block title %}Список сообщений{% endblock %}
{% block content %}
<div class="col-3 text-center mt-4">
    <a class="btn btn-outline-dark mt-auto" href="{% url 'main:create_mailing_message' %}">Создать новое сообщение</a>
</div>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-3">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for object in object_list %}

            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{object.title}}</h5>
                            <!-- Product price-->

                            {{object.body}}<br>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                    href="{% url 'main:mailing_message_detail' object.pk %}">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}